html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=q, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
        link(rel="stylesheet", href="style.css")
    body
        .head
            .eyes-one
            .eyes-two
            .smile
        .container
            .block.animate
                | 致，生日快樂 !  就這樣子，沒有了哦，因為不加字就太短了，呵呵呵!


        img(src="圖片/致描圖.png", alt="", srcset="")                                                           
        script(src="script")